<% layout("/layouts/boilerplate") %>

<div class="error-screen d-flex justify-content-center align-items-center">
  <div class="error-card text-center rounded shadow-lg">
    <i class="fa-solid fa-earth-asia me-2" style="color: #fe424d"></i>Stayzio
    <h3 class="fw-bold mb-2 text-danger">Sorry! Something broke.</h3>
    <p class="text-muted"><%= err.message || "We ran into an unexpected error. Try again later." %></p>
    <a href="/listings" class="btn btn-danger error-btn">Go Back </a>
  </div>
</div>
